/* -----------------------------
  Ajustes básicos
----------------------------- */

/* CSS reset */

/* @import "the-new-css-reset.css"; */
/***
    The new CSS reset - version 1.7.3 (last updated 7.8.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
 *:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
 display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
 - fix for the content editable attribute will work properly.
 - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element;
}

/* CSS Reset fin */

@font-face {
  font-family: "morganite";
  src: url("/assets/fonts/morganite/Morganite-Bold.woff2")
      format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "figtree-bold";
  src: url("/assets/fonts/figtree/Figtree-Bold.woff2")
      format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "figtree-book";
  src: url("/assets/fonts/figtree/Figtree-Regular.woff2")
      format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


/* Quitar las animaciones y transiciones para las personas que lo han solicitado en su navegador o sistema operativo, se trata de uma medida de accesibilidad */

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*  Variables */
:root {
  /* font sizes */
  --fs-titulo: 8rem;
  --fs-900: 6rem;
  --fs-800: 5rem;
  --fs-700: 4rem;
  --fs-600: 1.563rem;
  --fs-500: 1.25rem;
  --fs-400: 1rem;
  --fs-300: 0.8rem;
  --fs-200: 0.64rem;
  --fs-100: 0.512rem;

  /*  font families */
  --ff-bold: "morganite", sans-serif;
  --ff-semi: "figtree-bold", sans-serif;
  --ff-book: "figtree-book", sans-serif;

  /* Paleta de colores */
  --clr-blanco: 0 0% 100%;
  --clr-claro: 60 4% 95%;
  --clr-acento: 47 100% 50%;
  --clr-oscuro: 0 0% 22%;
  --clr-negro: 0 0% 0%;
}

*:focus {
  outline: none;
}
*:focus-visible {
  outline: 2px solid var(--color-shades-dark);
  outline-offset: 4px;
}

/* -----------------------------
  Clases útiles generales
----------------------------- */

body {
  line-height: 1.4;
  font-family: var(--ff-book);
  font-size: var(--fs-500);
  color: hsla(var(--clr-oscuro));
  background-color: hsla(var(--clr-claro));
  min-height: 100vh;
}

/* Font family */

.ff-bold {
  font-family: var(--ff-bold);
}
.ff-book {
  font-family: var(--ff-book);
}
.ff-semi {
  font-family: var(--ff-semi);
}

/*  Font size */

.fs-titulo {
  font-size: var(--fs-titulo);
}

.fs-900 {
  font-size: var(--fs-900);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-200 {
  font-size: var(--fs-200);
}
.fs-100 {
  font-size: var(--fs-100);
}

.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}
.fs-900 {
  line-height: 0.8;
}

.mayuscula {
  text-transform: uppercase;
}

.centrar {
  text-align: center;
}

/* Colores */

.fondo-blanco {
  background-color: hsla(var(--clr-blanco));
}
.fondo-claro {
  background-color: hsla(var(--clr-claro));
}
.fondo-acento {
  background-color: hsla(var(--clr-acento));
}
.fondo-oscuro {
  background-color: hsla(var(--clr-oscuro));
}
.fondo-negro {
  background-color: hsla(var(--clr-negro));
}

.color-blanco {
  color: hsla(var(--clr-blanco));
}
.color-claro {
  color: hsla(var(--clr-claro));
}
.color-acento {
  color: hsla(var(--clr-acento));
}
.color-oscuro {
  color: hsla(var(--clr-oscuro));
}
.color-negro {
  color: hsla(var(--clr-negro));
}

.flow > :where(:not(:first-child)) {
  margin-top: var(--flow-espacio, 1rem);
}

.filtro-blur {
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}

.filtro-brillo {
  -webkit-backdrop-filter: brightness(60%);
  backdrop-filter: brightness(60%);
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.container {
  max-width: 72rem;
  margin-inline: auto;
  padding-inline: 1rem;
  padding-block: 3rem;
}

@media (min-width: 62rem) {
  .container {
    padding-block: 9rem;
  }
}

/* Esta clase sirve para ocultar visualmente el contenido que usan 
los usuarios con problema visual*/

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* agregar linea */
  border: 0;
}

[href="tel:+34928292455"] {
  text-decoration: underline;
}



/* -----------------------------
  Componentes
----------------------------- */
/* Botones y enlaces */

.btn-base {
  padding: 1rem 2rem;
  border-radius: 40px;
  cursor: pointer;
  box-shadow: 0px 4px 31px -9px rgba(69,65,19,0.8);
  transition: box-shadow 250ms ease-in-out;
}

.btn-base:hover, .btn-base:active {
  box-shadow: 0px 4px 31px -4px rgba(69,65,19,0.8);
}

.btn-acento {
  background-color: hsla(var(--clr-acento));
  color: hsla(var(--clr-oscuro));
}

.btn-invertido {
  background-color: hsla(var(--clr-oscuro));
  color: hsla(var(--clr-acento));
}

.link-base {
  padding: 0.5rem 1.2rem;
  border-radius: 40px;
  display: inline-block;
  font-size: var(--fs-300);
  box-shadow: 0px 4px 31px -9px rgba(69,65,19,0.8);
  transition: box-shadow 250ms ease-in-out;

}

.link-base:hover, .link-base:active {
  box-shadow: 0px 4px 31px -4px rgba(69,65,19,0.8);

}

.link-acento {
  background-color: hsla(var(--clr-acento));
  color: hsla(var(--clr-oscuro));
}

.link-invertido {
  background-color: hsla(var(--clr-oscuro));
  color: hsla(var(--clr-blanco));
}

/* Lista de texto general */

.lista-texto-general {
  list-style-type: disc;
  margin-left: 2rem;
  line-height: 1.7;
}

/* ************************************** */
/*     MENU & HEADER                      */
/* ************************************** */

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 72rem;
  margin-inline: auto;
  padding-inline: 1rem;
  padding-block: 1rem;
}

.header-logo {
  max-height: 60px;
}

.header-nav {
  z-index: 1000;
}

.header-nav a {
  border-block-end: 3px solid var(--border-color, transparent);
  /* color: hsla(var(--clr-oscuro)); */
  display: inline-block;
  /* margin-block-end: 0.5rem; */
  margin-inline-end: 0.5rem;
  padding: 0.1rem;
}

.header-nav a:where(:hover, :focus) {
  --border-color: hsla(var(--clr-oscuro));
}

[aria-current="page"] {
  --border-color: hsla(var(--clr-oscuro));
}


#main-nav {
  position: var(--nav-position, fixed);
  inset-block-start: 1rem;
  inset-inline-end: 1rem;
}

@media (min-width: 62rem) {
  #main-nav {
    --nav-button-display: none;
    --nav-position: static;
  }
  .header-lista {
    --nav-list-layout: row;
    --nav-list-position: static;
    --nav-list-padding: 0;
    --nav-list-height: auto;
    --nav-list-width: 100%;
    --nav-list-shadow: none;
    --nav-list-visibility: visible;
    --nav-list-transform: translateX(0%);
  }
}

.header-lista {
  background: hsla(var(--clr-acento));
  box-shadow: var(--nav-list-shadow, -5px 0 11px 0 rgb(0 0 0 / 0.2));
  display: flex;
  flex-direction: var(--nav-list-layout, column);
  flex-wrap: wrap;
  gap: 0.5rem;
  height: var(--nav-list-height, 100vh);
  padding: var(--nav-list-padding, 2rem);
  position: var(--nav-list-position, fixed);
  inset-block-start: 0; /* Logical property. Equivalent to top: 0; */
  inset-inline-end: 0; /* Logical property. Equivalent to right: 0; */
  width: var(--nav-list-width, min(22rem, 100vw));
  visibility: var(--nav-list-visibility, visible);
}

@media (prefers-reduced-motion: no-preference) {
  .header-lista {
    transition: transform 0.6s cubic-bezier(.68,-0.55,.27,1.55), visibility 0.3s linear;
  }
}

[aria-expanded="false"] + .header-lista {
  transform: var(--nav-list-transform, translateX(100%));
  visibility: var(--nav-list-visibility, hidden);
}

/* Reset button styling */
#burger-btn {
  all: unset;
  display: var(--nav-button-display, flex);
  position: relative;
  z-index: 1001;
  margin-top: 1rem;
}

.header-lista:hover :last-child > a {
  --border-color: hsla(var(--clr-oscuro) / 0);
}

/* ************************************** */
/*    FIN DE MENU                         */
/* ************************************** */



/* Tarjeta */


.card-container {
  flex-direction: column;
  gap: 4rem;
}

.card {
  flex-direction: column;
}

.card-media{
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  overflow: hidden;
}

.card-media > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-contenido {
  flex-direction: column;
}

.card-btn {
  margin-top: 1rem;
  align-self: center;
}

@media(min-width: 44rem) and (max-width: 61.999rem) {
  .card {
    flex-direction: row;
    gap: 2rem;
  }
  .card-media {
    aspect-ratio: 12/16;
    flex-grow: 0;
    flex-basis: 14rem;
  }
  .card-container :nth-child(even) .card-media {
    order: 1;
  }
  .card-contenido {
    flex-grow: 1;
    flex-basis: 10rem;
  }
  .card-btn {
    align-self: flex-end;
  }
  .card-container :nth-child(even) .card-contenido .card-btn {
    align-self: flex-start;
  }
}

@media (min-width: 62rem) {
  .card-container {
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2rem;
  }
  .card {
    flex-basis: 16rem;
    flex-grow: 1;
  }
  .card-btn {
    align-self: flex-start;
  }
}

/* Hero bloque */

.h1-titulo {
  max-width: 80vw;
  margin: auto;
  font-family: var(--ff-bold);
  color: hsla(var(--clr-claro));
  font-size: 5rem;
  text-align: center;
  text-transform: uppercase;
  line-height: 0.8;
  padding-block-start: 3rem;
}

@media (min-width: 26rem) {
  .h1-titulo {
    font-size: 6rem;
  }
}

@media (min-width: 44rem) {
  .h1-titulo {
    font-size: 7rem;
    padding-block-start: 4rem;
  }
}

@media (min-width: 62rem) {
  .h1-titulo {
    font-size: var(--fs-titulo);
    line-height: 1;
  }
}

.carrusel {
  max-width: 72rem;
  margin-inline: auto;
  padding-inline: 1rem;
  padding-top: 2rem;
  padding-bottom: 3rem;

  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
}

@media (min-width:44rem) {
.carrusel {
  grid-template-columns: auto auto auto;
  grid-template-rows: repeat(2, auto);
}
}

@media (min-width: 62rem) {
  .carrusel {
    grid-template-columns: auto 2fr 1fr 3fr auto;
    grid-template-rows: auto 1fr 10fr 1fr;
  }
}

.english-btn {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  justify-self: end;
}

.slide-media {
  grid-row: 2 / 3;
  grid-column: 1 / -1;
  width: 100%;
  height: auto;
  overflow: hidden;
}

@media (min-width:44rem) {
 .slide-media {
  grid-row: 2 / -1;
  grid-column: 2 / -2;
  aspect-ratio: 12/9;
 } 
}

@media (min-width: 62rem) {
  .slide-media {
    grid-row: 2 / -1;
    grid-column: 2 / 4;
    aspect-ratio: 9 / 12;
  }
}

.slide-media > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.slide-contenido {
  grid-row: 2 / 3;
  grid-column: 1 / -1;

  gap: 0.5rem;
  justify-items: end;
  align-content: center;

  text-align: right;
  background-color: hsla(var(--clr-negro) / 0.4 );
  border: 0.1px solid hsla(var(--clr-claro) / 0.2);
  padding: 2rem 0.8rem;
  border-radius: 1rem;
  line-height: 1.4;
}


@media (min-width:44rem) {
 .slide-contenido {
    grid-row: 2 / -1;
    grid-column: 2 / -2;
 } 
}

@media (min-width: 62rem) {
  .slide-contenido {
    grid-row: 3 / -2;
    grid-column: 3 / -2;
  }
}

.slide-btn-minus,
.slide-btn-plus {
  display: grid;
  place-items: center;
  height: 60px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: hsla(var(--clr-claro) / 0.3);
  cursor: pointer;
  color: hsla(var(--clr-acento));
}

.slide-btn-minus {
  grid-row: 3 / -1;
  grid-column: 1 / 2;
  justify-self: right;
}
.slide-btn-plus {
  grid-row: 3 / -1;
  grid-column: 2 / -1;
  justify-self: left;
}

@media (min-width:44rem) {
  .slide-btn-minus {
     grid-row: -2 / -1;
     grid-column: 1 / 2;
     align-self: center;
  } 
  .slide-btn-plus {
    grid-row: -2 / -1;
    grid-column: -2 / -1;
    align-self: center;

 } 
 }

 @media (min-width:62rem) {
  .slide-btn-minus {
     grid-row: 1 / -1;
     grid-column: 1 / 2;
     align-self: center;
  } 
  .slide-btn-plus {
    grid-row: 1 / -1;
    grid-column: -2 / -1;
    align-self: center;

 } 
 }
 
.slide-pase {
  visibility: hidden;
}

.slide-pase-visible {
  visibility: visible;
  animation: paraSlide 1000ms ease-in;
}

.slide-pase-oculta {
  visibility: hidden;
}
 
@keyframes paraSlide {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

/*  Acción bloque */

.action {
  grid-template-columns: 1fr;
}

.action-btn {
  margin-top: 1rem;
  text-align: center;
}

@media( min-width: 48rem) {
  .action {
    grid-template-columns: 5fr 3fr;
    padding-block: 6rem; 
  }
  .action-btn {
    text-align: right;
    align-self: center;
  }
}  

/* Promoción */

.promo {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.promo-uno {
  background-image: url('/assets/images/home-page/promo-uno.jpg');
}

.promo-dos {
  background-image: url('/assets/images/home-page/promo-dos.jpg');
}

.promo-texto {
  text-align: center;
}

.promo-texto::before {
  content: '“';  
}

.promo-texto::after {
  content: '”';
}

@media(min-width: 40rem) {
  .promo-texto {
    padding-inline: 6rem;
  }
}

@media(min-width: 62rem) {
  .promo-texto {
    padding-inline: 6rem;
  }
}

/* Por qué Blancodent */

.por-que-container {
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 4rem;
}

.btn-container {
  text-align: center;
}

/* Bloque de los detalles */

.bloque-detalles {
  flex-direction: column;
  align-items: center;
  gap: 6rem;
}

/* Mapa */

.mapa-container {
  flex-direction: column;
  gap: 2rem;
}

@media (min-width: 48rem) {
  .mapa-container {
    flex-direction: row;
    
  }
}

@media (min-width: 62rem) {
  .mapa-container {
    gap: 6rem;
  }
}


/* Footer */

.footer-grid {
  grid-template-columns: 1fr;
  gap: 3rem;
  font-size: var(--fs-400);
}

.footer-gap {
  --flow-espacio: 1rem;
}

.seg-menu {
  color: hsla(var(--clr-acento));
}

.footer-condiciones .link-base {
  margin-block: 2rem;
}

@media (min-width: 35rem) {
  .footer-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer-condiciones {
    grid-column: 1/-1;
  }
}

@media ( min-width: 52rem) {
 .footer-grid {
  grid-template-columns: repeat(4, 1fr);
 }
}

/* Blog */

.blog-container {
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  row-gap: 3rem;
  column-gap: 1rem;
}

.btn-blog {
  justify-self: center;
}

.blog-card-media{
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

.blog-card-media > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Servicios y así somos página agrupada y containers */

.container-pagina-agrupada {
  grid-template-columns: 1fr;
  row-gap: 2rem;
}

@media(min-width: 44rem) and (max-width: 61.999rem) {

  .container-pagina-agrupada :nth-child(even) .card-media {
    order: 1;
  }
}

@media ( min-width: 62rem) {
  .container-pagina-agrupada {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    row-gap: 6rem;
  }
}

.container-imagenes {
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.container-horarios {
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  gap: 4rem;
  max-width: 65rem;
}

.container-mapa {
  --flow-espacio: 3rem;
}



/* Páginas únicas */

.container-titulo {
  max-width: 50rem;
}

.pagina-unica {
  grid-template-columns: 1fr;
  gap: 2rem;
}

.pagina-unica h3 {
  --flow-espacio: 3rem;
}

@media ( min-width: 44rem) {
  .pagina-unica{
    grid-template-columns: 1fr 2fr;
  }
}

@media ( min-width: 62rem) {
  .pagina-unica {
    gap: 6rem;
  }
}

.pagina-unica-lateral {
  flex-direction: column;
  align-items: center;
}

.imagenes-media {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  overflow: hidden;
}

.imagenes-media > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.personal-media {
  width: 100%;
}

.personal-media > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-personal > div {
  flex: 1 1 50%
}

.personal-child-dir {
  justify-items: center;
  text-align: center;
  max-width: 55rem;
}
.personal-child-dir > * {
  align-items: center;
}
.personal-child-dir :nth-child(even) {
  flex-direction: row-reverse;
}
@media (max-width: 48rem) {
  .personal-child-dir > *,
  .personal-child-dir :nth-child(even) {
    flex-direction: column;
  }
}

/* Blog */

.blog-flow > h1 {
  margin-bottom: 2rem;
}

/* Cita previa */

.cita-previa > div {
  display: flex;
  flex-direction: column;
}
.form-input {
  width: 100%;
  border: 1px solid hsla(var(--clr-oscuro)/ 0.5);
  padding-block: 0.4rem;
  padding-inline: 1rem;
  background-color: hsla(var(--clr-blanco));
}
.form-input::placeholder {
  color: hsla(var(--clr-oscuro)/ 0.5);
}
/* .form-input:required {
  border-color: red;
} */

/* Imágenes página única */

.imagen-pagina-unica-implantologia {
  background-image: url(/assets/images/fondos/fondo-7.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.imagen-pagina-unica-higiene {
  background-image: url(/assets/images/fondos/fondo-9.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.imagen-pagina-unica-protesis {
  background-image: url(/assets/images/fondos/fondo-8.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.imagen-pagina-unica-endodoncia {
  background-image: url(/assets/images/fondos/fondo-6.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.imagen-pagina-unica-conservadora {
  background-image: url(/assets/images/fondos/fondo-5.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.imagen-pagina-unica-bruxismo {
  background-image: url(/assets/images/fondos/fondo-4.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.imagen-pagina-unica-blanqueamiento {
  background-image: url(/assets/images/fondos/fondo-3.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.imagen-pagina-servicio {
  background-image: url(/assets/images/fondos/fondo-2.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.imagen-pagina-imagenes {
  background-image: url(/assets/images/fondos/fondo-9.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.imagen-asi-somos {
  background-image: url(/assets/images/fondos/fondo-1.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.imagen-pagina-unica-transporte {
  background-image: url(/assets/images/fondos/fondo-transporte.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.imagen-pagina-unica-cita-previa {
  background-image: url(/assets/images/varios/cita-previa.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.imagen-pagina-unica-horarios {
  background-image: url(/assets/images/asi-somos/horarios.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.imagen-pagina-unica-ofertas {
  background-image: url(/assets/images/varios/ofertas.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.imagen-pagina-unica-ubicacion {
  background-image: url(/assets/images/varios/localizacion.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.imagen-pagina-unica-personal {
  background-image: url(/assets/images/varios/personal.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
