/* -----------------------------
  Ajustes básicos
----------------------------- */

/* CSS reset */

@import "the-new-css-reset.css";

@font-face {
  font-family: "cooper_hewittbook";
  src: url("../fonts/cooper-hewitt/cooperhewitt-book-webfont.woff2")
      format("woff2"),
    url("../fonts/cooper-hewitt/cooperhewitt-book-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "cooper_hewittsemibold";
  src: url("../fonts/cooper-hewitt/cooperhewitt-semibold-webfont.woff2")
      format("woff2"),
    url("../fonts/cooper-hewitt/cooperhewitt-semibold-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "morganite";
  src: url("/assets/fonts/morganite/Morganite-Bold.woff2")
      format("woff2");
  font-weight: normal;
  font-style: normal;
}



/* Quitar las animaciones y transiciones para las personas que lo han solicitado en su navegador o sistema operativo, se trata de uma medida de accesibilidad */

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*  Variables */
:root {
  /* font sizes */
  --fs-900: 3.052rem;
  --fs-800: 2.441rem;
  --fs-700: 1.953rem;
  --fs-600: 1.563rem;
  --fs-500: 1.25rem;
  --fs-400: 1rem;
  --fs-300: 0.8rem;
  --fs-200: 0.64rem;
  --fs-100: 0.512rem;

  /* --fs-100: clamp(0.51rem, -0.02vw + 0.52rem, 0.5rem);
  --fs-200: clamp(0.64rem, 0.05vw + 0.63rem, 0.67rem);
  --fs-300: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --fs-400: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --fs-500: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --fs-600: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --fs-700: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --fs-800: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --fs-900: clamp(3.05rem, 3.54vw + 2.17rem, 5rem); */

  /*  font families */
  /* --ff-bold: "morganite", serif; */
  --ff-bold: "cooper_hewittsemibold", serif;
  --ff-book: "cooper_hewittbook", serif;

  /* Paleta de colores */
  --clr-blanco: 0 0% 100%;
  --clr-claro: 60 4% 95%;
  --clr-acento: 47 100% 50%;
  --clr-oscuro: 0 0% 22%;
  --clr-negro: 0 0% 0%;
}

@media (min-width: 36rem) {
  :root {
    --fs-900: 3.052rem;
  }
}


/* -----------------------------
  Clases útiles generales
----------------------------- */

body {
  line-height: 1.5;
  font-family: var(--ff-book);
  font-size: var(--fs-500);
  color: hsla(var(--clr-oscuro));
  background-color: hsla(var(--clr-claro));
  min-height: 100vh;
  /* -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto; */
}

/* Font family */

.ff-bold {
  font-family: var(--ff-bold);
}
.ff-book {
  font-family: var(--ff-book);
}

/*  Font size */

.fs-900 {
  font-size: var(--fs-900);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-200 {
  font-size: var(--fs-200);
}
.fs-100 {
  font-size: var(--fs-100);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

.mayuscula {
  text-transform: uppercase;
}

.centrar {
  text-align: center;
}

/* Colores */

.fondo-blanco {
  background-color: hsla(var(--clr-blanco));
}
.fondo-claro {
  background-color: hsla(var(--clr-claro));
}
.fondo-acento {
  background-color: hsla(var(--clr-acento));
}
.fondo-oscuro {
  background-color: hsla(var(--clr-oscuro));
}
.fondo-negro {
  background-color: hsla(var(--clr-negro));
}

.color-blanco {
  color: hsla(var(--clr-blanco));
}
.color-claro {
  color: hsla(var(--clr-claro));
}
.color-acento {
  color: hsla(var(--clr-acento));
}
.color-oscuro {
  color: hsla(var(--clr-oscuro));
}
.color-negro {
  color: hsla(var(--clr-negro));
}

.flow > :where(:not(:first-child)) {
  margin-top: var(--flow-espacio, 1rem);
}

.filtro-blur {
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}

.filtro-brillo {
  -webkit-backdrop-filter: brightness(60%);
  backdrop-filter: brightness(60%);
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.container {
  max-width: 72rem;
  margin-inline: auto;
  padding-inline: 1rem;
  padding-block: 3rem;
}

@media (min-width: 62rem) {
  .container {
    padding-block: 9rem;
  }
}

/* Esta clase sirve para ocultar visualmente el contenido que usan 
los usuarios con problema visual*/

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* agregar linea */
  border: 0;
}


/* -----------------------------
  Componentes
----------------------------- */
/* Botones y enlaces */

.btn-base {
  padding: 1rem 2rem;
  border-radius: 40px;
  cursor: pointer;
  box-shadow: 0px 4px 31px -9px rgba(69,65,19,0.8);
  transition: box-shadow 250ms ease-in-out;
}

.btn-base:hover, .btn-base:active {
  box-shadow: 0px 4px 31px -4px rgba(69,65,19,0.8);
}

.btn-acento {
  background-color: hsla(var(--clr-acento));
  color: hsla(var(--clr-oscuro));
}

.btn-invertido {
  background-color: hsla(var(--clr-oscuro));
  color: hsla(var(--clr-acento));
}

.link-base {
  padding: 0.5rem 1.2rem;
  border-radius: 40px;
  display: inline-block;
  font-size: var(--fs-300);
  box-shadow: 0px 4px 31px -9px rgba(69,65,19,0.8);
  transition: box-shadow 250ms ease-in-out;

}

.link-base:hover, .link-base:active {
  box-shadow: 0px 4px 31px -4px rgba(69,65,19,0.8);

}

.link-acento {
  background-color: hsla(var(--clr-acento));
  color: hsla(var(--clr-oscuro));
}

.link-invertido {
  background-color: hsla(var(--clr-oscuro));
  color: hsla(var(--clr-blanco));
}

/* ************************************** */
/*     MENU & HEADER                      */
/* ************************************** */

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 72rem;
  margin-inline: auto;
  padding-inline: 1rem;
  padding-block: 1rem;
}

.header-logo {
  max-height: 60px;
}

.header-nav {
  z-index: 1000;
}

.header-nav a {
  border-block-end: 3px solid var(--border-color, transparent);
  /* color: hsla(var(--clr-oscuro)); */
  display: inline-block;
  margin-block-end: 0.5rem;
  margin-inline-end: 0.5rem;
  padding: 0.1rem;
}

.header-nav a:where(:hover, :focus) {
  --border-color: hsla(var(--clr-oscuro));
}

[aria-current="page"] {
  --border-color: hsla(var(--clr-oscuro));
}


#main-nav {
  position: var(--nav-position, fixed);
  inset-block-start: 1rem;
  inset-inline-end: 1rem;
}

@media (min-width: 62rem) {
  #main-nav {
    --nav-button-display: none;
    --nav-position: static;
  }
  .header-lista {
    --nav-list-layout: row;
    --nav-list-position: static;
    --nav-list-padding: 0;
    --nav-list-height: auto;
    --nav-list-width: 100%;
    --nav-list-shadow: none;
    --nav-list-visibility: visible;
    --nav-list-transform: translateX(0%);
  }
}

.header-lista {
  background: hsla(var(--clr-acento));
  box-shadow: var(--nav-list-shadow, -5px 0 11px 0 rgb(0 0 0 / 0.2));
  display: flex;
  flex-direction: var(--nav-list-layout, column);
  flex-wrap: wrap;
  gap: 0.5rem;
  height: var(--nav-list-height, 100vh);
  padding: var(--nav-list-padding, 2rem);
  position: var(--nav-list-position, fixed);
  inset-block-start: 0; /* Logical property. Equivalent to top: 0; */
  inset-inline-end: 0; /* Logical property. Equivalent to right: 0; */
  width: var(--nav-list-width, min(22rem, 100vw));
  visibility: var(--nav-list-visibility, visible);
}

@media (prefers-reduced-motion: no-preference) {
  .header-lista {
    transition: transform 0.6s cubic-bezier(.68,-0.55,.27,1.55), visibility 0.3s linear;
  }
}

[aria-expanded="false"] + .header-lista {
  transform: var(--nav-list-transform, translateX(100%));
  visibility: var(--nav-list-visibility, hidden);
}

/* Reset button styling */
#burger-btn {
  all: unset;
  display: var(--nav-button-display, flex);
  position: relative;
  z-index: 1001;
  margin-top: 1rem;
}



/* ************************************** */
/*    FIN DE MENU                         */
/* ************************************** */



/* Tarjeta */

.card-container {
  flex-direction: column;
  gap: 4rem;
}

.card {
  flex-direction: column;

}

.card-media{
  width: 100%;
  aspect-ratio: 16/9;
}

.card-media > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-contenido {
  flex-direction: column;
}

.card-btn {
  margin-top: 1rem;
  align-self: center;
}

@media(min-width: 44rem) and (max-width: 61.999rem) {
  .card {
    flex-direction: row;
    gap: 2rem;
  }
  .card-media {
    aspect-ratio: 12/16;
    flex-grow: 0;
    flex-basis: 14rem;
  }
  .card-container :nth-child(even) .card-media {
    order: 1;
  }
  .card-contenido {
    flex-grow: 1;
    flex-basis: 10rem;
  }
  .card-btn {
    align-self: flex-end;
  }
  .card-container :nth-child(even) .card-contenido .card-btn {
    align-self: flex-start;
  }
}

@media (min-width: 62rem) {
  .card-container {
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2rem;
  }
  .card {
    flex-basis: 16rem;
    flex-grow: 1;
  }
  .card-btn {
    align-self: flex-start;
  }
}

/* Hero bloque */

.carrusel {
  max-width: 72rem;
  margin-inline: auto;
  padding-inline: 1rem;
  padding-top: 2rem;
  padding-bottom: 3rem;

  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
}

@media (min-width:44rem) {
.carrusel {
  grid-template-columns: auto auto auto;
  grid-template-rows: repeat(2, auto);
}
}

@media (min-width: 62rem) {
  .carrusel {
    grid-template-columns: auto 2fr 1fr 3fr auto;
    grid-template-rows: auto 1fr 10fr 1fr;
  }
}

.english-btn {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  justify-self: end;
}

.slide-media {
  grid-row: 2 / 3;
  grid-column: 1 / -1;
  width: 100%;
}

@media (min-width:44rem) {
 .slide-media {
  grid-row: 2 / -1;
  grid-column: 2 / -2;
  aspect-ratio: 12/9;
 } 
}

@media (min-width: 62rem) {
  .slide-media {
    grid-row: 2 / -1;
    grid-column: 2 / 4;
    aspect-ratio: 9 / 12;
  }
}

.slide-media > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.slide-contenido {
  grid-row: 2 / 3;
  grid-column: 1 / -1;

  gap: 0.5rem;
  justify-items: end;
  align-content: center;

  text-align: right;
  background-color: hsla(var(--clr-negro) / 0.4 );
  border: 0.1px solid hsla(var(--clr-claro) / 0.2);
  padding: 2rem 0.8rem;
  border-radius: 1rem;
  line-height: 1.4;
}


@media (min-width:44rem) {
 .slide-contenido {
    grid-row: 2 / -1;
    grid-column: 2 / -2;
 } 
}

@media (min-width: 62rem) {
  .slide-contenido {
    grid-row: 3 / -2;
    grid-column: 3 / -2;
  }
}

.slide-btn-minus,
.slide-btn-plus {
  display: grid;
  place-items: center;
  height: 60px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: hsla(var(--clr-claro) / 0.3);
  cursor: pointer;
  color: hsla(var(--clr-acento));
}

.slide-btn-minus {
  grid-row: 3 / -1;
  grid-column: 1 / 2;
  justify-self: right;
}
.slide-btn-plus {
  grid-row: 3 / -1;
  grid-column: 2 / -1;
  justify-self: left;
}

@media (min-width:44rem) {
  .slide-btn-minus {
     grid-row: -2 / -1;
     grid-column: 1 / 2;
     align-self: center;
  } 
  .slide-btn-plus {
    grid-row: -2 / -1;
    grid-column: -2 / -1;
    align-self: center;

 } 
 }

 @media (min-width:62rem) {
  .slide-btn-minus {
     grid-row: 1 / -1;
     grid-column: 1 / 2;
     align-self: center;
  } 
  .slide-btn-plus {
    grid-row: 1 / -1;
    grid-column: -2 / -1;
    align-self: center;

 } 
 }
 

/* .carrusel {
  text-align: right;
  max-width: 72rem;
  margin-inline: auto;
  padding-inline: 1rem;
  padding-top: 2rem;
  padding-bottom: 3rem;
}

@media (min-width: 62rem) {
  .carrusel {
    padding-bottom: 9rem;
  }
}


.slide-container {
  align-items: center;
}

.slide {
  grid-template-columns: 1rem auto 1rem;
  grid-template-rows: 1rem auto 1rem;
}

@media (min-width: 44rem) {
  .slide {
    grid-template-columns: 1rem auto 1rem;
    grid-template-rows: 1rem auto 1rem;
  }
}

@media (min-width: 62rem) {
  .slide {
    grid-template-columns: 2fr 1fr 3fr;
    grid-template-rows: 5% auto 10%;
  }
}

.slide-media{
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  width: 100%;

  border-radius: 1rem;
}



@media (min-width: 62rem) {
  .slide-media{
    grid-column: 1 / 3;
    grid-row: 1 / -1;
    width: 100%;
    aspect-ratio: 9/12;
    border-radius: 1rem;
  } 
}

.slide-media > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.slide-contenido {
  grid-column: 1 / -1;
  grid-row: 1 / -1;

  justify-items: end;
  align-content: center;
  
  background-color: hsla(var(--clr-negro) / 0.4 );
  border: 0.1px solid hsla(var(--clr-claro) / 0.2);
  padding: 0.5rem;
  border-radius: 1rem;
  height: 100%;
}

@media (min-width: 44rem) {
  .slide-contenido {
    grid-column: 2 / -2;
    grid-row: 2 / -2;
    padding: 2rem;
  }
}

@media(min-width: 62rem) {
  .slide-contenido {
    grid-column: 2 / -1;
    grid-row: 2 / 3;
    background-color: hsla(var(--clr-negro) / 0.3 );
  }
}

.slide-btn {
  display: grid;
  place-items: center;
  width: 150px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: hsla(var(--clr-claro) / 0.3);
  cursor: pointer;
  color: hsla(var(--clr-acento));
}

@media (min-width: 62rem) {
  .slide-btn {
    width: 200px;
  }
} */




/*  Acción bloque */

.action {
  grid-template-columns: 1fr;
}

.action-btn {
  margin-top: 1rem;
  text-align: center;
}

@media( min-width: 48rem) {
  .action {
    grid-template-columns: 5fr 3fr;
    padding-block: 6rem; 
  }
  .action-btn {
    text-align: right;
    align-self: center;
  }
}  

/* Promoción */

.promo {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.promo-uno {
  background-image: url('../images/home-page/promo-uno.jpeg');
}

.promo-dos {
  background-image: url('../images/home-page/promo-dos.jpeg');
}

.promo-texto {
  text-align: center;
}

.promo-texto::before {
  content: '“';  
}

.promo-texto::after {
  content: '”';
}

@media(min-width: 40rem) {
  .promo-texto {
    padding-inline: 6rem;
  }
}

@media(min-width: 62rem) {
  .promo-texto {
    padding-inline: 6rem;
  }
}

/* Por qué Blancodent */

.por-que-container {
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 4rem;
}

.btn-container {
  text-align: center;
}

/* Bloque de los detalles */

.bloque-detalles {
  flex-direction: column;
  align-items: center;
  gap: 6rem;
}

/* Mapa */

.mapa-container {
  flex-direction: column;
  gap: 2rem;
}

@media (min-width: 48rem) {
  .mapa-container {
    flex-direction: row;
    
  }
}

@media (min-width: 62rem) {
  .mapa-container {
    gap: 6rem;
  }
}


/* Footer */

.footer-grid {
  grid-template-columns: 1fr;
  gap: 3rem;
  font-size: var(--fs-400);
}

.footer-gap {
  --flow-espacio: 1rem;
}

.seg-menu {
  color: hsla(var(--clr-acento));
}

.footer-condiciones .link-base {
  margin-block: 2rem;
}

@media (min-width: 35rem) {
  .footer-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer-condiciones {
    grid-column: 1/-1;
  }
}

@media ( min-width: 52rem) {
 .footer-grid {
  grid-template-columns: repeat(4, 1fr);
 }
}

/* Blog */

.blog-container {
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  row-gap: 3rem;
  column-gap: 1rem;
}

.btn-blog {
  justify-self: center;
}

.blog-card-media{
  width: 100%;
  aspect-ratio: 16/9;
}

.blog-card-media > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Servicios y así somos página agrupada y containers */

.container-pagina-agrupada {
  grid-template-columns: 1fr;
  row-gap: 2rem;
}

@media(min-width: 44rem) and (max-width: 61.999rem) {

  .container-pagina-agrupada :nth-child(even) .card-media {
    order: 1;
  }
}

@media ( min-width: 62rem) {
  .container-pagina-agrupada {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    row-gap: 6rem;
  }
}

.container-imagenes {
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

.container-horarios {
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  gap: 4rem;

}

.container-mapa {
  --flow-espacio: 3rem;
}



/* Páginas únicas */

.container-titulo {
  max-width: 50rem;
}

.pagina-unica {
  grid-template-columns: 1fr;
  gap: 2rem;
}

.pagina-unica h3 {
  --flow-espacio: 3rem;
}

@media ( min-width: 44rem) {
  .pagina-unica{
    grid-template-columns: 1fr 2fr;
  }
}

@media ( min-width: 62rem) {
  .pagina-unica {
    gap: 6rem;
  }
}

.pagina-unica-lateral {
  flex-direction: column;
  align-items: center;
}

.imagenes-media {
  width: 100%;
  aspect-ratio: 16/9;
}

.imagenes-media > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.personal-media {
  width: 100%;
}

.personal-media > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-personal > div {
  flex: 1 1 50%
}

/* Blog */

.blog-flow > h1 {
  margin-bottom: 2rem;
}

/* Lista de texto general */

.lista-texto-general {
  list-style-type: disc;
  margin-left: 2rem;
  line-height: 1.7;
}

/* Imágenes página única */

.imagen-pagina-unica-uno {
  background-image: url(../images/servicios/imagen-uno.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.imagen-pagina-unica-dos {
  background-image: url(../images/servicios/imagen-dos.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.imagen-pagina-unica-tres {
  background-image: url(../images/servicios/imagen-tres.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.imagen-pagina-unica-cuatro {
  background-image: url(../images/servicios/imagen-cuatro.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.imagen-pagina-unica-cinco {
  background-image: url(../images/servicios/imagen-cinco.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.imagen-pagina-unica-seis {
  background-image: url(../images/servicios/imagen-seis.png);
  background-repeat: no-repeat;
  background-size: cover;
}


.imagen-pagina-unica-siete {
  background-image: url(../images/servicios/imagen-siete.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.imagen-pagina-unica-ocho {
  background-image: url(../images/servicios/imagen-prueba.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}


.imagen-pagina-unica-nueve {
  background-image: url(../images/servicios/imagen-nueve.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.imagen-asi-somos {
  background-image: url(../images/servicios/imagen-nueve.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.imagen-pagina-unica-transporte {
  background-image: url(../images/asi-somos/transporte-uno.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

