/* -----------------------------
  Ajustes básicos
----------------------------- */

/* CSS reset */

@import "the-new-css-reset.css";

@font-face {
  font-family: "cooper_hewittbook";
  src: url("../fonts/cooper-hewitt/cooperhewitt-book-webfont.woff2")
      format("woff2"),
    url("../fonts/cooper-hewitt/cooperhewitt-book-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "cooper_hewittsemibold";
  src: url("../fonts/cooper-hewitt/cooperhewitt-semibold-webfont.woff2")
      format("woff2"),
    url("../fonts/cooper-hewitt/cooperhewitt-semibold-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}



/* Quitar las animaciones y transiciones para las personas que lo han solicitado en su navegador o sistema operativo, se trata de uma medida de accesibilidad */

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*  Variables */
:root {
  /* font sizes */
  /* --fs-900: 3.052rem;
  --fs-800: 2.441rem;
  --fs-700: 1.953rem;
  --fs-600: 1.563rem;
  --fs-500: 1.25rem;
  --fs-400: 1rem;
  --fs-300: 0.8rem;
  --fs-200: 0.64rem;
  --fs-100: 0.512rem; */

  --fs-100: clamp(0.51rem, -0.02vw + 0.52rem, 0.5rem);
  --fs-200: clamp(0.64rem, 0.05vw + 0.63rem, 0.67rem);
  --fs-300: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --fs-400: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --fs-500: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --fs-600: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --fs-700: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --fs-800: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --fs-900: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);

  /*  font families */
  --ff-bold: "cooper_hewittsemibold", serif;
  --ff-book: "cooper_hewittbook", serif;

  /* Paleta de colores */
  --clr-blanco: 0 0% 100%;
  --clr-claro: 60 4% 95%;
  --clr-acento: 47 100% 50%;
  --clr-oscuro: 0 0% 22%;
  --clr-negro: 0 0% 0%;
}

@media (min-width: 36rem) {
  :root {
    --fs-900: 3.052rem;
  }
}


/* -----------------------------
  Clases útiles generales
----------------------------- */

body {
  line-height: 1.5;
  font-family: var(--ff-book);
  font-size: var(--fs-500);
  color: hsla(var(--clr-oscuro));
  background-color: hsla(var(--clr-claro));
  min-height: 100vh;
  /* -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto; */
}

/* Font family */

.ff-bold {
  font-family: var(--ff-bold);
}
.ff-book {
  font-family: var(--ff-book);
}

/*  Font size */

.fs-900 {
  font-size: var(--fs-900);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-200 {
  font-size: var(--fs-200);
}
.fs-100 {
  font-size: var(--fs-100);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

.mayuscula {
  text-transform: uppercase;
}

.centrar {
  text-align: center;
}

/* Colores */

.fondo-blanco {
  background-color: hsla(var(--clr-blanco));
}
.fondo-claro {
  background-color: hsla(var(--clr-claro));
}
.fondo-acento {
  background-color: hsla(var(--clr-acento));
}
.fondo-oscuro {
  background-color: hsla(var(--clr-oscuro));
}
.fondo-negro {
  background-color: hsla(var(--clr-negro));
}

.color-blanco {
  color: hsla(var(--clr-blanco));
}
.color-claro {
  color: hsla(var(--clr-claro));
}
.color-acento {
  color: hsla(var(--clr-acento));
}
.color-oscuro {
  color: hsla(var(--clr-oscuro));
}
.color-negro {
  color: hsla(var(--clr-negro));
}

.flow > :where(:not(:first-child)) {
  margin-top: var(--flow-espacio, 1rem);
}

.filtro-blur {
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.container {
  max-width: 72rem;
  margin-inline: auto;
  padding-inline: 1rem;
  padding-block: 3rem;
}

@media (min-width: 62rem) {
  .container {
    padding-block: 9rem;
  }
}

/* Esta clase sirve para ocultar visualmente el contenido que usan 
los usuarios con problema visual*/

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* agregar linea */
  border: 0;
}


/* -----------------------------
  Componentes
----------------------------- */
/* Botones y enlaces */

.btn-base {
  padding: 1rem 2rem;
  border-radius: 40px;
  cursor: pointer;
  box-shadow: 0px 4px 31px -9px rgba(69,65,19,0.8);
  transition: box-shadow 250ms ease-in-out;
}

.btn-base:hover, .btn-base:active {
  box-shadow: 0px 4px 31px -4px rgba(69,65,19,0.8);
}

.btn-acento {
  background-color: hsla(var(--clr-acento));
  color: hsla(var(--clr-oscuro));
}

.btn-invertido {
  background-color: hsla(var(--clr-oscuro));
  color: hsla(var(--clr-acento));
}

.link-base {
  padding: 0.5rem 1.2rem;
  border-radius: 40px;
  display: inline-block;
  font-size: var(--fs-300);
  box-shadow: 0px 4px 31px -9px rgba(69,65,19,0.8);
  transition: box-shadow 250ms ease-in-out;

}

.link-base:hover, .link-base:active {
  box-shadow: 0px 4px 31px -4px rgba(69,65,19,0.8);

}

.link-acento {
  background-color: hsla(var(--clr-acento));
  color: hsla(var(--clr-oscuro));
}

.link-invertido {
  background-color: hsla(var(--clr-oscuro));
  color: hsla(var(--clr-blanco));
}

/* Tarjeta */

.card-container {
  flex-direction: column;
  gap: 4rem;
}

.card {
  flex-direction: column;

}

.card-media{
  width: 100%;
  aspect-ratio: 16/9;
}

.card-media > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-contenido {
  flex-direction: column;
}

.card-btn {
  margin-top: 1rem;
  align-self: center;
}

@media(min-width: 44rem) and (max-width: 61.999rem) {
  .card {
    flex-direction: row;
    gap: 2rem;
  }
  .card-media {
    aspect-ratio: 12/16;
    flex-grow: 0;
    flex-basis: 14rem;
  }
  .card-container :nth-child(even) .card-media {
    order: 1;
  }
  .card-contenido {
    flex-grow: 1;
    flex-basis: 10rem;
  }
  .card-btn {
    align-self: flex-end;
  }
  .card-container :nth-child(even) .card-contenido .card-btn {
    align-self: flex-start;
  }
}

@media (min-width: 62rem) {
  .card-container {
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2rem;
  }
  .card {
    flex-basis: 16rem;
    flex-grow: 1;
  }
  .card-btn {
    align-self: flex-start;
  }
}

/*  Acción bloque */

.action {
  grid-template-columns: 1fr;
}

.action-btn {
  margin-top: 1rem;
  text-align: center;
}

@media( min-width: 48rem) {
  .action {
    grid-template-columns: 5fr 3fr;
    padding-block: 6rem; 
  }
  .action-btn {
    text-align: right;
    align-self: center;
  }
}  

/* Promoción */

.promo {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.promo-uno {
  background-image: url('../images/home-page/promo-uno.jpeg');
}

.promo-dos {
  background-image: url('../images/home-page/promo-dos.jpeg');
}

.promo-texto {
  text-align: center;
}

.promo-texto::before {
  content: '“';  
}

.promo-texto::after {
  content: '”';
}

@media(min-width: 40rem) {
  .promo-texto {
    padding-inline: 6rem;
  }
}

@media(min-width: 62rem) {
  .promo-texto {
    padding-inline: 6rem;
  }
}

/* Por qué Blancodent */

.por-que-container {
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 4rem;
}

.btn-container {
  text-align: center;
}

/* Bloque de los detalles */

.bloque-detalles {
  flex-direction: column;
  align-items: center;
  gap: 6rem;
}

/* Mapa */

.mapa-container {
  flex-direction: column;
  gap: 2rem;
}

@media (min-width: 48rem) {
  .mapa-container {
    flex-direction: row;
    
  }
}

@media (min-width: 62rem) {
  .mapa-container {
    gap: 6rem;
  }
}


/* Footer */

.footer-grid {
  grid-template-columns: 1fr;
  gap: 3rem;
  font-size: var(--fs-400);
}

.footer-gap {
  --flow-espacio: 1rem;
}

.seg-menu {
  color: hsla(var(--clr-acento));
}

.footer-condiciones .link-base {
  margin-block: 2rem;
}

@media (min-width: 35rem) {
  .footer-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer-condiciones {
    grid-column: 1/-1;
  }
}

@media ( min-width: 52rem) {
 .footer-grid {
  grid-template-columns: repeat(4, 1fr);
 }
}

/* Blog */

.blog-container {
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  row-gap: 3rem;
  column-gap: 1rem;
}

.btn-blog {
  justify-self: center;
}

.blog-card-media{
  width: 100%;
  aspect-ratio: 16/9;
}

.blog-card-media > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Servicios y así somos página agrupada */

.container-pagina-agrupada {
  grid-template-columns: 1fr;
  row-gap: 2rem;
}

@media(min-width: 44rem) and (max-width: 61.999rem) {

  .container-pagina-agrupada :nth-child(even) .card-media {
    order: 1;
  }
}

@media ( min-width: 62rem) {
  .container-pagina-agrupada {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    row-gap: 6rem;
  }
}

/* Página única */

.pagina-unica {
  grid-template-columns: 1fr;
  gap: 2rem;
}

.pagina-unica h3 {
  --flow-espacio: 3rem;
}

@media ( min-width: 44rem) {
  .pagina-unica{
    grid-template-columns: 1fr 2fr;
  }
}

@media ( min-width: 62rem) {
  .pagina-unica {
    gap: 6rem;
  }
}

.pagina-unica-lateral {
  flex-direction: column;
  align-items: center;
}